main {
    font-family: system-ui;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.intro-text {
    margin: 20px;
}
.p-text {
    font-size: 14px;
    font-weight: 600;
}
.intro-1 {
    color: rgb(255, 167, 4);
    font-size: 34px;
}
.h1-text {
    color: orange;
    font-weight: 600;
    font-size: 24px;
}
.purpose-container, .key-purpose-container, .target-user-container, .tech-container {
    border: 1px solid rgba(0, 0, 0, .3);
    padding: 2px;
    margin: 5px 20px;
    border-radius: 5px;
    background-color: rgb(238, 238, 238);
}
.p-main-text {
    font-size: 13.5px;
}