header {
    background-color: rgb(242, 242, 242);
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: space-between;
}
.logo-img, .cart-img, .shop-img {
    width: 35px;
}
.header-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}
.cart-container {
    display: flex;
}
.logo-text, .header-container {
    padding-left: 10px;
    padding-right: 10px;
}